# Ignore node_modules from host (will be reinstalled in container)

**/node_modules
**/build

<!-- # Ignore local env files and secrets
**/.env
.env -->

# Ignore OS and IDE files

.DS_Store
Thumbs.db
.vscode
.idea

# Ignore logs and coverage

\*.log
logs
\*\*/coverage

# Ignore lockfiles not used by Docker build

pnpm-lock.yml
